/*
    Document   : style.css
    Created on : 2015-02-17 01:58 PM
    Author     : jacobwaites
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

@font-face
{font-family: fatty;
src: url(bower_components/atm-bower-foundation/css/fonts/Gotham-Ultra.otf);}

@font-face
{font-family: skinny;
src: url(bower_components/atm-bower-foundation/css/fonts/HelveticaNeue-Light.woff);}

body {
    width:100%;
    margin:0 auto;
}

h1 {
    color:#fc992e;
    font-family:fatty;
    letter-spacing: .15rem;
    font-size: 6.5rem;
    text-align:center;
}

.slide-block {
   text-align:center;
    overflow:hidden;
}

.tweet-row-1 {
padding: 6%;
}

.row {
    max-width:100rem;
}


/*
 .text-block {
    padding:300px 10px 0px 10px;
}
*/

#greatthings, #greatwings {
padding:300px 10px 0px 10px;
}

.big-title {
font-size: 4.8rem;
font-family: fatty;
text-transform: uppercase;
letter-spacing: .2rem;
color: #f5f5f5;
text-shadow: 0px 0px 175px rgba(0,0,0,.5);
line-height: 1.2em;
text-align: left;
padding-bottom: 4%;
}

.subtitle {
font-size: 3rem;
font-family: fatty;
text-transform: uppercase;
letter-spacing: .2rem;
color: #f5f5f5;
text-shadow: 0px 0px 175px rgba(0,0,0,.5);
line-height: 1.2em;
padding-bottom: 3%;
}

.copy {
font-size: 1.8rem;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
color: #f5f5f5;
text-shadow: 0px 0px 175px rgba(0,0,0,.5);
line-height: 1.6em;
letter-spacing: -.005rem;
}





.block3 {
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    overflow:hidden;
}

.block4 {
    background-size:cover;
    background-position:center center;
    background-image:url('bower_components/atm-bower-foundation/css/img/vsource.jpg');
    background-attachment:;
    background-repeat:no-repeat;
    overflow:hidden;
}

.block1 {
    background-image:url('bower_components/atm-bower-foundation/css/img/newton1.jpg');
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    overflow:hidden;
}

.block2 {
    background-size:cover;
    background-position:center center;
    background-image:url('bower_components/atm-bower-foundation/css/img/newton2.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
    overflow:hidden;
}



.block5 {
    background-size:cover;
    background-position:center center;
    background-image:url('bower_components/atm-bower-foundation/css/img/newton3.jpg');
    
    background-repeat:no-repeat;
    overflow:hidden;
}
.block6 {
    background-size:cover;
    background-position:center center;
    background-image:url('bower_components/atm-bower-foundation/css/img/newton4.jpg');
    
    background-repeat:no-repeat;
    overflow:hidden;
}
.block7 {
    background-size:cover;
    background-position:center center;
    background-image:url('bower_components/atm-bower-foundation/css/img/newton5.jpg');
    
    background-repeat:no-repeat;
    overflow:hidden;
}
.block8 {
    background-size:cover;
    background-position:center center;
    background-image:url('bower_components/atm-bower-foundation/css/img/newton7.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
    overflow:hidden;
}
.block9 {
    background-size:cover;
    background-position:center center;
    background-image:url('bower_components/atm-bower-foundation/css/img/newton8.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
    overflow:hidden;
}
